* {
    box-sizing: border-box;
}
/* Block Elements ------- */

body {
    background-color: #ba324f;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    background-color: #1a1d1a;
    justify-content: center;
}

.container {
    text-align: center;
    width: 90%;
    margin: auto;
    max-width: 500px;
}

/* Form Elements ------- */

form {
    background-color: #1a1d1a;
    width: 100%;
    padding: 1em;
    border: 1px solid #28afb0;
    border-radius: .5em;
  }

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    color: #28afb0;
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
select {
    background-color: transparent;
    height: 40px;
    border: 1px solid #28afb0;
    border-radius: .5em;
}

input[value] {
    color: gray;
}



/* Text Elements ------- */

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #e8e8e8;
}

p {
    color: #e8e8e8;
    font-family: 'Roboto', sans-serif; 
}

/* DRY Elements ------- */

.textcond {
    font-family: 'Roboto Condensed', sans-serif;
}

.textnorm {
    font-family: 'Roboto', sans-serif;
}